/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #990000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

article {
  margin-bottom: 20px;
  border: 1px solid #990000;
  padding: 10px;
}

.post-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

#comments-section {
  border: 1px solid #990000;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-top: 5px;
  background-color: #333;
  color: #fff;
  border: none;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  background-color: #990000;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #660000;
}

#comments-list {
  list-style-type: none;
  padding: 0;
}

#comments-list li {
  border: 1px solid #990000;
  padding: 10px;
  margin-top: 10px;
}